
tsconfig.tsbuildinfo
boiler-click-next-js*.json

# Ignore node_modules everywhere
node_modules/
**/node_modules/
.next/
out/
build/
dist/

# Env files
.env
.env.*
!.env.example

# OS files
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore sensitive keys
*.pem
*.json
!package.json
!package-lock.json
!tsconfig.json
!tailwind.config.ts
!postcss.config.mjs

# Exclude the backup directory entirely
backup/
